@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :host {
    @apply flex w-210 h-105 bg-white font-sans font-normal text-black;
  }
  
  :host * {
    box-sizing: border-box;
  }
}


@layer utilities {
  .scissors-right {
    position: relative;
  }

  .scissors-right:before {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    content: "\2703";
    transform: translate(3pt, 12pt) rotate(84deg);
  }
}